# Ignore Python virtual environment directories
facebook_scraping/Include/
facebook_scraping/Lib/
facebook_scraping/Scripts/
facebook_scraping/__pycache__/
facebook_scraping/pyvenv.cfg

# Ignore specific files
www.facebook.com_cookies.json
www.facebook.com_cookies.txt

# Ignore specific Python files
scraping_code.py
test.py
test2.py
test3.py

